<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">             
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="userName">UserName</label>
              <input type="text" class="form-control" formControlName="id" id="id"  >
            </div>
            <div class="text-danger" *ngIf="userId.touched && userId.errors?.required">
              UserName is required!
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" autocomplete class="form-control" formControlName="password" id="password" name="password" >
            </div>   
            <div class="text-danger" *ngIf="password.touched && password.errors?.required">
              Password is required!
            </div> 
            <div class="row">
              <label for="userName">you're admin?</label>
              <input type="checkbox" [(ngModel)]="isAdmin" [ngModelOptions]="{standalone: true}" >
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
  </div>
