USE [StudentApp]
GO
/****** Object:  UserDefinedTableType [dbo].[ResultLearning]    Script Date: 10/13/2020 2:16:33 PM ******/
CREATE TYPE [dbo].[ResultLearning] AS TABLE(
	[Semester] [nvarchar](10) NULL,
	[GPA] [float] NULL,
	[CPA] [float] NULL,
	[TCQua] [int] NULL,
	[TCTichLuy] [int] NULL,
	[TCNoDK] [int] NULL,
	[TCDK] [int] NULL,
	[TrinhDo] [nvarchar](30) NULL,
	[MucCC] [int] NULL
)
GO
/****** Object:  StoredProcedure [dbo].[sp_GetListClass]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetListClass] (@semester NVARCHAR(20))
AS
BEGIN
	SELECT se.SecId,se.Semester,se.Status,se.Building,se.RoomNumber,
			dbo.Courses.Credits AS 'Credit',
			t.StartHr,t.StartMin,t.EndHr,t.EndMin,t.Day,
			Courses.CourseId,Title,
			dbo.Classrooms.Capacity,
			dbo.Departments.Name 
			 FROM dbo.Sections se 
			INNER JOIN dbo.TimeSlots t ON t.TimeSlotId = se.TimeSlotId 
										AND t.Day = se.Day
			INNER JOIN dbo.Courses ON Courses.CourseId = se.CourseId
			INNER JOIN dbo.Departments ON Departments.DepartmentId = Courses.DepartmentId
			INNER JOIN dbo.Classrooms ON Classrooms.Building = se.Building 
										 AND Classrooms.RoomNumber = se.RoomNumber
			WHERE se.Semester=@semester AND se.Status=0
			ORDER BY se.CourseId 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetListClassRegisteredByStudentId]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GetListClassRegisteredByStudentId] ( @studentId NVARCHAR(20),@semester NVARCHAR(20))
AS
BEGIN
	SELECT  dbo.Takes.ID,
			se.SecId,se.Status,se.Building,se.RoomNumber,se.Semester,
			dbo.Courses.Credits AS 'Credit',
			t.StartHr,t.StartMin,t.EndHr,t.EndMin,t.Day,
			Courses.CourseId,Title
			 FROM dbo.Sections se 
			INNER JOIN dbo.TimeSlots t ON t.TimeSlotId = se.TimeSlotId 
										AND t.Day = se.Day
			INNER JOIN dbo.Courses ON Courses.CourseId = se.CourseId
			INNER JOIN dbo.Departments ON Departments.DepartmentId = Courses.DepartmentId
			INNER JOIN dbo.Classrooms ON Classrooms.Building = se.Building 
										 AND Classrooms.RoomNumber = se.RoomNumber
			INNER JOIN dbo.Takes ON Takes.SecId = se.SecId
			WHERE dbo.Takes.ID=@studentId AND se.Semester=@semester
			ORDER BY se.SecId 
END

--EXEC dbo.sp_GetListClassRegisteredByStudentId @studentId = N'20160024',@semester='20201' -- nvarchar(20)

GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudent]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetStudent]
               AS
                BEGIN
                    SET NOCOUNT ON;
	                SELECT st.Id,st.Name AS'StudentName',st.Status,st.CreatedYear,
		                sc.Name AS'StudentClassName',sc.Id AS'StudentClassId',
		                d.Name AS'DepartmentName',d.DepartmentId

	                FROM dbo.Students st
                    INNER JOIN dbo.StudentClasses sc ON sc.Id = st.StudentClassId
											      AND sc.DepartmentId = st.DepartmentId
				    INNER JOIN dbo.Departments d ON d.DepartmentId = sc.DepartmentId
                END; 

GO
/****** Object:  StoredProcedure [dbo].[SP_GetStudentInfor]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetStudentInfor]( @id VARCHAR(20) )
                AS
				BEGIN
					SET NOCOUNT ON;
				SELECT st.Id,st.Name AS'StudentName',st.Password,st.BirthDay,st.Address,st.CardId,st.Birthplace,
						st.Avatar,st.Status,st.CreatedYear,
					ta.Midterm,ta.Endterm,ta.WordScore,
					se.Semester,se.year,se.SecId,
					co.Title,co.Credits,co.CourseId,
					cl.Building,cl.RoomNumber,
					sc.Name AS'StudentClassName',
					d.Name AS'DepartmentName'

				 FROM dbo.Students st
					INNER JOIN dbo.Takes ta ON ta.ID = st.Id
					INNER JOIN dbo.Sections se ON se.SecId = ta.SecId
					INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
					INNER JOIN dbo.Classrooms cl ON cl.Building = se.Building
											 AND cl.RoomNumber = se.RoomNumber

					INNER JOIN dbo.StudentClasses sc ON sc.Id = st.StudentClassId
												AND sc.DepartmentId = st.DepartmentId

					INNER JOIN dbo.Departments d ON d.DepartmentId = sc.DepartmentId
					WHERE st.Id=@id
					ORDER BY se.year;
				END;

GO
/****** Object:  StoredProcedure [dbo].[sp_maxscore]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_maxscore](@semester NVARCHAR(20),@id nvarchar(20))
AS
begin
		SELECT se.CourseId, co.Credits, MAX(dbo.fn_convertscore( t.WordScore)) AS maxscore
		FROM takes t INNER JOIN dbo.Sections se ON se.SecId = t.SecId
		INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
		WHERE t.ID=@id AND se.Semester<=@semester
		GROUP BY se.CourseId ,co.Credits,t.ID
	
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_result_learning]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_result_learning] (@id NVARCHAR(20))
AS
BEGIN
	SET NOCOUNT ON ;

	DECLARE @resultlearning AS ResultLearning; --ResultLearning is type table
	DECLARE @sem NVARCHAR(10),@TCQua INT,@TCTichLuy INT,@TCDK INT, @TCNoDK INT,@TrinhDo NVARCHAR(30);
	DECLARE @MucCC INT;
	DECLARE @TCTichLuy_cursor CURSOR;
	DECLARE @fetch_TCTichLuy_cursor NVARCHAR(20);
	DECLARE @fetch_semester_cursor NVARCHAR(20);
	DECLARE @temp_courseId NVARCHAR(20),@temp_credit INT,@temp_maxscore  FLOAT;
	SET @TCNoDK=0;
	SET @TCTichLuy=0;

	DECLARE semester_cursor CURSOR STATIC LOCAL FOR   
	SELECT DISTINCT se.Semester FROM dbo.Takes t 
	INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
    WHERE t.ID =@id ;

	OPEN semester_cursor;

	FETCH NEXT FROM semester_cursor  INTO @sem;
	select @fetch_semester_cursor = @@FETCH_STATUS
	WHILE @fetch_semester_cursor = 0    
		BEGIN    		
			-- tc lich luy

			SET @TCTichLuy_cursor= CURSOR STATIC LOCAL FOR  
							SELECT se.CourseId, co.Credits, MAX(dbo.fn_convertscore( t.WordScore)) AS maxscore
							FROM takes t INNER JOIN dbo.Sections se ON se.SecId = t.SecId
							INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
							WHERE t.ID=@id AND se.Semester<=@sem
							GROUP BY se.CourseId ,co.Credits;
			OPEN @TCTichLuy_cursor;
			FETCH NEXT FROM @TCTichLuy_cursor INTO @temp_courseId,@temp_credit,@temp_maxscore;				
			select @fetch_TCTichLuy_cursor = @@FETCH_STATUS
			WHILE @fetch_TCTichLuy_cursor = 0    
			   BEGIN 
					SET @TCTichLuy = @TCTichLuy + @temp_credit;
					FETCH NEXT FROM @TCTichLuy_cursor  INTO @temp_courseId,@temp_credit,@temp_maxscore;	
				   select @fetch_TCTichLuy_cursor = @@FETCH_STATUS ;
			   END
		   CLOSE @TCTichLuy_cursor;
		   DEALLOCATE @TCTichLuy_cursor;
		    --TC Qua mỗi kì
			 SELECT @TCQua=SUM(co.Credits) FROM dbo.Takes t 
				INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
				INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
				WHERE t.ID =@id AND t.WordScore != 'F' AND se.Semester = @sem ;
			
			 IF @TCQua IS NULL SET @TCQua=0;

			--TC Nợ ĐK
			SELECT @TCNoDK =SUM(co.Credits) FROM dbo.Takes t 
				INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
				INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
			    WHERE t.ID =@id AND t.WordScore ='F' AND se.Semester <= @sem ;
			
			IF @TCNoDK IS NULL SET @TCNoDK=0;

			--TC da dk
			SELECT @TCDK=SUM(co.Credits) FROM dbo.Takes t 
				INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
				INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
				WHERE t.ID =@id  AND se.Semester <= @sem ;
			IF @TCDK IS NULL SET @TCDK=0;
			-- trinh do
				IF @TCTichLuy<=31
				BEGIN
					SET @TrinhDo=N'Sinh Vien Nam 1';
				END
			   ELSE IF @TCTichLuy>=32 AND @TCTichLuy<=63
				BEGIN
					SET @TrinhDo=N'Sinh Vien Nam 2';
				END
			   ELSE IF @TCTichLuy>=64 AND @TCTichLuy<=95
				BEGIN
					SET @TrinhDo=N'Sinh Vien Nam 3';
				END
			   ELSE IF @TCTichLuy>=96 AND @TCTichLuy<=128
				BEGIN
					SET @TrinhDo=N'Sinh Vien Nam 4';
				END
			   ELSE IF @TCTichLuy>128 
			   BEGIN
					SET @TrinhDo=N'Sinh Vien Nam 5';
				END
			   ELSE SET @TrinhDo=N'Sinh Vien Nam 1';

			-- get Muc canh cao
			   SELECT @MucCC=Level FROM dbo.Warns WHERE StudentId=@id AND Semester=@sem;

			 --get all data to show front-end
			 INSERT INTO @resultlearning
			 SELECT @sem AS 'Semester', dbo.fn_gpa(@sem,@id) AS GPA,dbo.fn_cpa(@sem,@id) AS CPA,
					@TCQua AS TCQua, @TCTichLuy AS TCTichLuy, @TCNoDk AS TCNoDK, @TCDK AS TCDK, 
					@TrinhDo AS TrinhDo,@MucCC AS MucCC ;

			 SET @TCTichLuy=0;
			 FETCH NEXT FROM semester_cursor  INTO @sem;
			 select @fetch_semester_cursor = @@FETCH_STATUS ;
		END 

	SELECT * FROM @resultlearning;

	CLOSE semester_cursor; 
	DEALLOCATE semester_cursor;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongDaDK]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoLuongDaDK] (@secId NVARCHAR(20))
AS
BEGIN
	SELECT COUNT(DISTINCT dbo.Takes.ID) AS'Count' FROM dbo.Takes 
				INNER JOIN dbo.Sections ON Sections.SecId = Takes.SecId  
				WHERE Sections.SecId=@secId

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_wordscore]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_update_wordscore]
							AS
							BEGIN
								SET NOCOUNT ON;
								UPDATE dbo.Takes SET WordScore=(
										CASE
										WHEN 3.95<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<4.95 THEN 'D'
										WHEN 4.95<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<5.45 THEN 'D+'
										WHEN 5.45<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<6.45 THEN 'C'
										WHEN 6.45<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<6.95 THEN 'C+'
										WHEN 6.95<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<7.95 THEN 'B'
										WHEN 7.95<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<8.45 THEN 'B+'
										WHEN 8.45<= (Midterm * 0.3 + Endterm * 0.7) AND (Midterm * 0.3 + Endterm * 0.7)<9 THEN 'A'
										WHEN 9<= (Midterm * 0.3 + Endterm * 0.7) THEN 'A+'
										ELSE 'F'
										END );
							END;

GO
/****** Object:  StoredProcedure [dbo].[sp_updateLevelWarn]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_updateLevelWarn]
AS
BEGIN
	SET NOCOUNT ON ;
	DECLARE @studentId NVARCHAR(20);
	DECLARE @semester NVARCHAR(10),@TCNoDK INT;
	DECLARE @semester_cursor CURSOR;
	DECLARE @fetch_studentId_cursor NVARCHAR(20);
	DECLARE @fetch_semester_cursor NVARCHAR(20);

	DECLARE studentid_cursor CURSOR STATIC LOCAL FOR  
			SELECT DISTINCT t.ID FROM dbo.Takes t 
			INNER JOIN dbo.Sections  se ON se.SecId = t.SecId

	OPEN studentid_cursor;

	FETCH NEXT FROM studentid_cursor  INTO @studentId;
	select @fetch_studentId_cursor = @@FETCH_STATUS

	WHILE @fetch_studentId_cursor = 0    
		BEGIN    				
					SET @semester_cursor= CURSOR STATIC LOCAL FOR  
							SELECT DISTINCT se.Semester FROM dbo.Takes t 
							INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
							WHERE t.ID=@studentId;
					OPEN @semester_cursor ;
					FETCH NEXT FROM @semester_cursor INTO @semester;				
					select @fetch_semester_cursor = @@FETCH_STATUS
					WHILE @fetch_semester_cursor = 0    
						BEGIN    
							--TC Nợ ĐK
									SELECT @TCNoDK =SUM(co.Credits) FROM dbo.Takes t 
									    INNER JOIN dbo.Sections  se ON se.SecId = t.SecId
										INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
										WHERE t.ID =@studentId AND t.WordScore ='F' AND se.Semester <= @semester; 
									IF @TCNoDK IS NULL SET @TCNoDK=0;

									IF @TCNoDK>8 
									BEGIN
										IF @semester NOT IN (SELECT Semester FROM Warns WHERE StudentId=@studentId )
										BEGIN
											INSERT INTO dbo.Warns (StudentId,Semester,Level)
												VALUES (@studentId,@semester,1)
										END			
									END
			
									ELSE IF @TCNoDK>16 AND @TCNoDK <=27
									BEGIN
										IF @semester NOT IN (SELECT Semester FROM Warns WHERE StudentId=@studentId )
										BEGIN
											INSERT INTO dbo.Warns (StudentId,Semester,Level)
												VALUES (@studentId,@semester,2)
										END			
									END

									ELSE IF @TCNoDK>27
									BEGIN
										IF @semester NOT IN (SELECT Semester FROM Warns WHERE StudentId=@studentId )
										BEGIN
											INSERT INTO dbo.Warns (StudentId,Semester,Level)
												VALUES (@studentId,@semester,3)
										END			
									END

									ELSE IF @semester NOT IN (SELECT Semester FROM Warns WHERE StudentId=@studentId )
										BEGIN
											INSERT INTO dbo.Warns (StudentId,Semester,Level)
												VALUES (@studentId,@semester,10)
										END			

									 FETCH NEXT FROM @semester_cursor  INTO @semester ;
									 select @fetch_semester_cursor = @@FETCH_STATUS ;
									 													
						END 
						CLOSE @semester_cursor;
						DEALLOCATE @semester_cursor;

			FETCH NEXT FROM studentid_cursor  INTO @studentId;
			SELECT @fetch_studentId_cursor = @@FETCH_STATUS
			
		END 	
	CLOSE studentid_cursor;
	DEALLOCATE studentid_cursor;
END

--EXEC sp_updateLevelWarn




GO
/****** Object:  UserDefinedFunction [dbo].[fn_convertscore]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_convertscore]( @score varchar(2))

returns FLOAT

BEGIN

	RETURN
        CASE 
		    WHEN @score ='A+' OR @score='A' THEN  4
			WHEN @score = 'B+' THEN  3.5
			WHEN @score = 'B' THEN  3
			WHEN @score = 'C+' THEN  2.5
			WHEN @score = 'C' THEN 2
			WHEN @score = 'D+' THEN 1.5
			WHEN @score = 'D' THEN 1
			WHEN @score = 'F' THEN 0
        END 
END;

--SELECT dbo.fn_convertscore(t.WordScore) AS score 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_cpa]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_cpa](@semester VARCHAR(5), @id VARCHAR(20))
RETURNS FLOAT
AS
BEGIN
	DECLARE @cpa FLOAT;
	DECLARE @totalCredit INT, @credit int,@maxscore FLOAT,@courseId NVARCHAR(20);

	SET @totalCredit = 0;
	SET @cpa = 0;

	DECLARE my_cursor CURSOR FOR     
		SELECT se.CourseId, co.Credits, MAX(dbo.fn_convertscore( t.WordScore)) AS maxscore
		FROM takes t INNER JOIN dbo.Sections se ON se.SecId = t.SecId
		INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
		WHERE t.ID=@id AND se.Semester<=@semester
		GROUP BY se.CourseId ,co.Credits;
	
	OPEN my_cursor;

	FETCH NEXT FROM my_cursor  
	INTO @courseId, @credit,@maxscore ;
		
	WHILE @@FETCH_STATUS = 0    
		BEGIN    
			 SET @totalCredit = @totalCredit + @credit ;
			 
			 SET @cpa = @cpa + (@credit * @maxscore)
			
			 FETCH NEXT FROM my_cursor
			 INTO @courseId, @credit,@maxscore ;
   
		END 
	SET @cpa = @cpa/@totalCredit ;   
	CLOSE my_cursor; 
	DEALLOCATE my_cursor;
	
	RETURN ROUND(@cpa,2);
END;

--SELECT dbo.fn_cpa('20161','20160398') AS cpa



GO
/****** Object:  UserDefinedFunction [dbo].[fn_gpa]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_gpa](@semester VARCHAR(5), @id VARCHAR(20))
RETURNS FLOAT
AS
BEGIN
	DECLARE @gpa FLOAT;
	SELECT @gpa= SUM( dbo.fn_convertscore(t.WordScore) * co.Credits)/SUM(co.Credits) 
    FROM takes t 
		INNER JOIN dbo.Sections se ON se.SecId = t.SecId
		INNER JOIN dbo.Courses co ON co.CourseId = se.CourseId
	WHERE se.Semester=@semester AND t.ID=@id
	
	RETURN ROUND(@gpa,2);
END;

--SELECT dbo.fn_gpa('20161','20160398') AS cpa

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AppGroups]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppGroups](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__Appgroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[Building] [nvarchar](20) NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__classroom] PRIMARY KEY CLUSTERED 
(
	[Building] ASC,
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [nvarchar](20) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Credits] [int] NOT NULL,
	[DepartmentId] [nvarchar](20) NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Building] [nvarchar](20) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__department] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InstructorDepartments]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorDepartments](
	[Id] [nvarchar](20) NOT NULL,
	[DepartmentId] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_InstructorDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InstructorNotification]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstructorNotification](
	[InstructorId] [nvarchar](20) NOT NULL,
	[NotificationId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_InstructorNotice] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC,
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[ID] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[BitrhDay] [datetime2](7) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[CardId] [int] NULL,
	[Birthplace] [nvarchar](max) NULL,
	[CreatedYear] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Salary] [numeric](8, 2) NULL,
	[Status] [int] NOT NULL,
	[GroupId] [nvarchar](20) NULL,
	[DepartmentId] [nvarchar](20) NULL,
	[InstructorDepartmentId] [nvarchar](20) NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Languages]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsDefault] [bit] NOT NULL,
	[Resources] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [nvarchar](20) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Status] [int] NOT NULL,
	[Title] [nvarchar](200) NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Postcategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [nvarchar](20) NOT NULL,
	[PostCategoryId] [nvarchar](20) NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prereqs]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prereqs](
	[CourseId] [nvarchar](20) NOT NULL,
	[PrereqId] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK__prereq] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[PrereqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sections]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SecId] [nvarchar](20) NOT NULL,
	[Semester] [nvarchar](20) NULL,
	[Year] [nvarchar](20) NULL,
	[Status] [int] NOT NULL,
	[Building] [nvarchar](20) NULL,
	[RoomNumber] [nvarchar](20) NULL,
	[TimeSlotId] [nvarchar](20) NULL,
	[Day] [nvarchar](20) NULL,
	[CourseId] [nvarchar](20) NULL,
 CONSTRAINT [PK__section] PRIMARY KEY CLUSTERED 
(
	[SecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__semester] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentClasses]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClasses](
	[Id] [nvarchar](20) NOT NULL,
	[DepartmentId] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Year] [nvarchar](20) NOT NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__StudentClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentNotification]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentNotification](
	[StudentId] [nvarchar](20) NOT NULL,
	[NotificationId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_StudentNotice] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](20) NULL,
	[Email] [nvarchar](max) NULL,
	[BirthDay] [datetime2](7) NULL,
	[Address] [nvarchar](max) NULL,
	[CardId] [int] NULL,
	[Birthplace] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreatedYear] [nvarchar](20) NULL,
	[Status] [int] NOT NULL,
	[GroupId] [nvarchar](20) NULL,
	[StudentClassId] [nvarchar](20) NULL,
	[DepartmentId] [nvarchar](20) NULL,
 CONSTRAINT [PK__Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Takes]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takes](
	[ID] [nvarchar](20) NOT NULL,
	[SecId] [nvarchar](20) NOT NULL,
	[Midterm] [real] NULL,
	[Endterm] [real] NULL,
	[WordScore] [nvarchar](2) NULL,
 CONSTRAINT [PK__takes__A0A7458A976F2631] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teaches]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaches](
	[ID] [nvarchar](20) NOT NULL,
	[SecId] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__teaches__A0A7458ABC151A07] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[SecId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[TimeSlotId] [nvarchar](20) NOT NULL,
	[Day] [nvarchar](20) NOT NULL,
	[StartHr] [int] NULL,
	[StartMin] [int] NULL,
	[EndHr] [int] NULL,
	[EndMin] [int] NULL,
 CONSTRAINT [PK__timeslot] PRIMARY KEY CLUSTERED 
(
	[TimeSlotId] ASC,
	[Day] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ToeicPoints]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToeicPoints](
	[ID] [nvarchar](20) NOT NULL,
	[StudentId] [nvarchar](20) NOT NULL,
	[Semester] [nvarchar](max) NULL,
	[year] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[HearPoint] [int] NOT NULL,
	[ReadPoint] [int] NOT NULL,
	[TotalPoint] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK__toeicpoint] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Warns]    Script Date: 10/13/2020 2:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warns](
	[StudentId] [nvarchar](20) NOT NULL,
	[Semester] [nvarchar](20) NOT NULL,
	[Level] [int] NOT NULL,
 CONSTRAINT [PK_warn] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[Semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200817233615_itinial', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200817234451_updatestclass', N'3.1.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200818013945_create_procedure', N'3.1.7')
INSERT [dbo].[AppGroups] ([Id], [Name], [Role], [Status]) VALUES (N'1', N'Administrator', N'Administrator', 0)
INSERT [dbo].[AppGroups] ([Id], [Name], [Role], [Status]) VALUES (N'2', N'Student', N'Student', 0)
INSERT [dbo].[AppGroups] ([Id], [Name], [Role], [Status]) VALUES (N'3', N'Instructor', N'Instructor', 0)
INSERT [dbo].[Classrooms] ([Building], [RoomNumber], [Capacity], [Status]) VALUES (N'C3', N'101', 500, 0)
INSERT [dbo].[Classrooms] ([Building], [RoomNumber], [Capacity], [Status]) VALUES (N'C3', N'103', 500, 0)
INSERT [dbo].[Classrooms] ([Building], [RoomNumber], [Capacity], [Status]) VALUES (N'C3', N'104', 500, 0)
GO
INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [DepartmentId]) VALUES (N'IT1010', N'Tin học đại cương', 3, N'IT')
INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [DepartmentId]) VALUES (N'IT1011', N'Nhập môn CNTT và TT', 3, N'IT')
INSERT [dbo].[Courses] ([CourseId], [Title], [Credits], [DepartmentId]) VALUES (N'IT3010', N'Cấu trúc dữ liệu và giải thuật', 3, N'IT')
INSERT [dbo].[Departments] ([DepartmentId], [Name], [Building], [Status]) VALUES (N'CK', N'Viện Cơ Khí', N'C3', 0)
INSERT [dbo].[Departments] ([DepartmentId], [Name], [Building], [Status]) VALUES (N'CKDL', N'Viện Cơ Khí Động Lực', N'C4', 0)
INSERT [dbo].[Departments] ([DepartmentId], [Name], [Building], [Status]) VALUES (N'IT', N'Viện Công Nghệ Thông Tin Và Truyền Thông', N'B1', 0)
INSERT [dbo].[Notifications] ([Id], [Message], [CreatedDate], [ModifiedDate], [Status], [Title]) VALUES (N'st1', N'this is message of student has notificationId is st1', CAST(N'2020-08-31 14:52:24.6530000' AS DateTime2), CAST(N'2020-08-31 14:52:24.6530000' AS DateTime2), 0, N'this is title of this message')
INSERT [dbo].[Notifications] ([Id], [Message], [CreatedDate], [ModifiedDate], [Status], [Title]) VALUES (N'st2', N'this is message of student has notificationId is st2', CAST(N'2020-08-31 14:52:31.4670000' AS DateTime2), CAST(N'2020-08-31 14:52:31.4670000' AS DateTime2), 0, N'this is title of this message')
INSERT [dbo].[Notifications] ([Id], [Message], [CreatedDate], [ModifiedDate], [Status], [Title]) VALUES (N'st3', N'this is message of student has notificationId is st3', CAST(N'2020-08-31 14:52:43.3270000' AS DateTime2), CAST(N'2020-08-31 14:52:43.3270000' AS DateTime2), 0, N'this is title of this message')
INSERT [dbo].[Sections] ([SecId], [Semester], [Year], [Status], [Building], [RoomNumber], [TimeSlotId], [Day], [CourseId]) VALUES (N'1  ', N'20161', N'2016', 0, N'C3', N'101', N'1', N'2', N'IT1010')
INSERT [dbo].[Sections] ([SecId], [Semester], [Year], [Status], [Building], [RoomNumber], [TimeSlotId], [Day], [CourseId]) VALUES (N'10 ', N'20202', N'2020', 0, N'C3', N'101', N'1', N'2', N'IT1010')
INSERT [dbo].[Sections] ([SecId], [Semester], [Year], [Status], [Building], [RoomNumber], [TimeSlotId], [Day], [CourseId]) VALUES (N'100', N'20162', N'2016', 0, N'C4', N'101', N'1', N'4', N'IT3021')
GO
INSERT [dbo].[Semesters] ([Id]) VALUES (N'20161')
INSERT [dbo].[Semesters] ([Id]) VALUES (N'20162')
INSERT [dbo].[Semesters] ([Id]) VALUES (N'20163')
INSERT [dbo].[StudentClasses] ([Id], [DepartmentId], [Name], [Year], [Status]) VALUES (N'CK1-2016', N'CK', N'Cơ khí 1 2016', N'2016', NULL)
INSERT [dbo].[StudentClasses] ([Id], [DepartmentId], [Name], [Year], [Status]) VALUES (N'CK1-2017', N'CK', N'Cơ khí 1 2017', N'2017', NULL)
INSERT [dbo].[StudentClasses] ([Id], [DepartmentId], [Name], [Year], [Status]) VALUES (N'CK1-2018', N'CK', N'Cơ khí 1 2018', N'2018', NULL)
GO
INSERT [dbo].[StudentNotification] ([StudentId], [NotificationId]) VALUES (N'20160024', N'st1')
INSERT [dbo].[StudentNotification] ([StudentId], [NotificationId]) VALUES (N'20161997', N'st1')
INSERT [dbo].[StudentNotification] ([StudentId], [NotificationId]) VALUES (N'20160024', N'st2')
INSERT [dbo].[Students] ([Id], [Name], [Password], [Email], [BirthDay], [Address], [CardId], [Birthplace], [Avatar], [CreatedYear], [Status], [GroupId], [StudentClassId], [DepartmentId]) VALUES (N'20160024', N'Tran Trong An', N'12345678', N'email@gmail.com', CAST(N'2020-08-16 20:26:19.0600000' AS DateTime2), N'Phuong Bach Khoa', 12345678, N'Ha Noi', N'https://phunugioi.com/wp-content/uploads/2020/04/anh-hot-girl-2k6-moc-mac-voi-ao-dong-phuc.jpg', N'2016', 0, N'2', N'MI2-2016', N'MI')
INSERT [dbo].[Students] ([Id], [Name], [Password], [Email], [BirthDay], [Address], [CardId], [Birthplace], [Avatar], [CreatedYear], [Status], [GroupId], [StudentClassId], [DepartmentId]) VALUES (N'20160067', N'Đỗ Trung Anh', N'12345678', N'email@gmail.com', CAST(N'2020-08-16 20:17:33.2100000' AS DateTime2), N'Phuong Bach Khoa', 12345678, N'Ha Noi', N'https://2.bp.blogspot.com/-fjf5yU5r1Jk/WE1VD1BBKpI/AAAAAAAAjgI/bXwGoigAPJYvScMPtzJtzbOJfoGQO2C_ACEw/s1600/15349541_533868826819201_3350340522319981193_n.jpg', N'2016', 0, N'2', N'MI1-2016', N'MI')
INSERT [dbo].[Students] ([Id], [Name], [Password], [Email], [BirthDay], [Address], [CardId], [Birthplace], [Avatar], [CreatedYear], [Status], [GroupId], [StudentClassId], [DepartmentId]) VALUES (N'20160187', N'Nguyễn Tuấn Anh', N'12345678', N'email@gmail.com', CAST(N'2020-08-16 20:17:51.1200000' AS DateTime2), N'Phuong Bach Khoa', 12345678, N'Ha Noi', N'https://2.bp.blogspot.com/-fjf5yU5r1Jk/WE1VD1BBKpI/AAAAAAAAjgI/bXwGoigAPJYvScMPtzJtzbOJfoGQO2C_ACEw/s1600/15349541_533868826819201_3350340522319981193_n.jpg', N'2016', 0, N'2', N'MI1-2016', N'MI')
GO
INSERT [dbo].[Takes] ([ID], [SecId], [Midterm], [Endterm], [WordScore]) VALUES (N'20160024', N'689', 7, 7, N'B')
INSERT [dbo].[Takes] ([ID], [SecId], [Midterm], [Endterm], [WordScore]) VALUES (N'20160024', N'699', 7, 7, N'B')
INSERT [dbo].[Takes] ([ID], [SecId], [Midterm], [Endterm], [WordScore]) VALUES (N'20160024', N'710', 7, 7, N'B')
GO
INSERT [dbo].[TimeSlots] ([TimeSlotId], [Day], [StartHr], [StartMin], [EndHr], [EndMin]) VALUES (N'1', N'2', 6, 45, 9, 0)
INSERT [dbo].[TimeSlots] ([TimeSlotId], [Day], [StartHr], [StartMin], [EndHr], [EndMin]) VALUES (N'1', N'3', 6, 45, 9, 0)
INSERT [dbo].[TimeSlots] ([TimeSlotId], [Day], [StartHr], [StartMin], [EndHr], [EndMin]) VALUES (N'1', N'4', 6, 45, 9, 0)
INSERT [dbo].[Warns] ([StudentId], [Semester], [Level]) VALUES (N'20160024', N'20161', 0)
INSERT [dbo].[Warns] ([StudentId], [Semester], [Level]) VALUES (N'20160024', N'20162', 0)
INSERT [dbo].[Warns] ([StudentId], [Semester], [Level]) VALUES (N'20160024', N'20171', 0)
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK__course__dept_nam__164452B1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK__course__dept_nam__164452B1]
GO
ALTER TABLE [dbo].[InstructorDepartments]  WITH CHECK ADD  CONSTRAINT [FK__instructordept_dept] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorDepartments] CHECK CONSTRAINT [FK__instructordept_dept]
GO
ALTER TABLE [dbo].[InstructorNotification]  WITH CHECK ADD  CONSTRAINT [FK__instructorNotification12] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorNotification] CHECK CONSTRAINT [FK__instructorNotification12]
GO
ALTER TABLE [dbo].[InstructorNotification]  WITH CHECK ADD  CONSTRAINT [FK__NoticeInstrucNotification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstructorNotification] CHECK CONSTRAINT [FK__NoticeInstrucNotification]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK__instructor_Appgroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[AppGroups] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK__instructor_Appgroup]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK__instructor_instructordepartment] FOREIGN KEY([InstructorDepartmentId], [DepartmentId])
REFERENCES [dbo].[InstructorDepartments] ([Id], [DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK__instructor_instructordepartment]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK__Post_PostCategory] FOREIGN KEY([PostCategoryId])
REFERENCES [dbo].[PostCategories] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK__Post_PostCategory]
GO
ALTER TABLE [dbo].[Prereqs]  WITH CHECK ADD  CONSTRAINT [FK__prereq__course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Prereqs] CHECK CONSTRAINT [FK__prereq__course]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK__section__1FCDBCEB] FOREIGN KEY([Building], [RoomNumber])
REFERENCES [dbo].[Classrooms] ([Building], [RoomNumber])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK__section__1FCDBCEB]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK__section__course___1ED998B2] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK__section__course___1ED998B2]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK__section__timeslot] FOREIGN KEY([TimeSlotId], [Day])
REFERENCES [dbo].[TimeSlots] ([TimeSlotId], [Day])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK__section__timeslot]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [FK__studentclass__dept] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [FK__studentclass__dept]
GO
ALTER TABLE [dbo].[StudentNotification]  WITH CHECK ADD  CONSTRAINT [FK__NoticeStudentNotification] FOREIGN KEY([NotificationId])
REFERENCES [dbo].[Notifications] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentNotification] CHECK CONSTRAINT [FK__NoticeStudentNotification]
GO
ALTER TABLE [dbo].[StudentNotification]  WITH CHECK ADD  CONSTRAINT [FK__StudentNotification12] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentNotification] CHECK CONSTRAINT [FK__StudentNotification12]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK__student__appgroup] FOREIGN KEY([GroupId])
REFERENCES [dbo].[AppGroups] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK__student__appgroup]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK__student__dept_na__276EDEB3] FOREIGN KEY([StudentClassId], [DepartmentId])
REFERENCES [dbo].[StudentClasses] ([Id], [DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK__student__dept_na__276EDEB3]
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK__takes__2A4B4B5E] FOREIGN KEY([SecId])
REFERENCES [dbo].[Sections] ([SecId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK__takes__2A4B4B5E]
GO
ALTER TABLE [dbo].[Takes]  WITH CHECK ADD  CONSTRAINT [FK__takes__ID__2B3F6F97] FOREIGN KEY([ID])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Takes] CHECK CONSTRAINT [FK__takes__ID__2B3F6F97]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK__teaches_instructor] FOREIGN KEY([ID])
REFERENCES [dbo].[Instructors] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK__teaches_instructor]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK__teaches_section] FOREIGN KEY([SecId])
REFERENCES [dbo].[Sections] ([SecId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK__teaches_section]
GO
ALTER TABLE [dbo].[ToeicPoints]  WITH CHECK ADD  CONSTRAINT [FK__toeic_student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToeicPoints] CHECK CONSTRAINT [FK__toeic_student]
GO
ALTER TABLE [dbo].[Warns]  WITH CHECK ADD  CONSTRAINT [FK__warnc_student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Warns] CHECK CONSTRAINT [FK__warnc_student]
GO
