<app-sidebar></app-sidebar>
<div style="padding-left: 260px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">             
              <form [formGroup]="changePasswordForm" (ngSubmit)="changPassword()">
                <div class="form-group">
                  <label for="userName">Mat khau cu</label>
                  <input type="text" class="form-control" formControlName="oldPassword" name="oldPassword"  >
                </div>
                <div class="text-danger" *ngIf="oldPass.touched && oldPass.errors?.required">
                  Old password is required!
                </div>
                <div class="form-group">
                  <label for="password">Mat khau moi</label>
                  <input type="password" autocomplete class="form-control" formControlName="newPassword" name="newPassword" >
                </div>   
                <div class="text-danger" *ngIf="newPass.touched && newPass.errors?.required">
                  New password is required!
                </div> 
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
      </div>
</div>
 



