<header style="border-top: solid 10px #9c1010; padding-top: 10px; background-color: #ffffff;">
    <div class="container" style="padding-bottom: 10px ;">
        <div class="row">
            <div class="col-md-6">
                <a href="/">
                    <img class="img-responsive" src="/assets/img/logo-cttdt.png" alt="CTTBK2020" />
                </a>
            </div>
            <div class="col-md-6">
                <div class="nav-search">
                    <form class="form-inline" accept-charset="UTF-8">
                        <input title="Search string" class="form-control mr-sm-2 search-input"  placeholder="Tìm kiếm..." type="text" id="search-field" name="strSearch" size="15" maxlength="128">
                        <!-- <button id="search-btn" type="submit" name="submit" aria-label="Search" formmethod="post">
                            <img src="/assets/img/search.jpg"></button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav  class="navbar navbar-expand-lg navbar-light " style="background-color: #f2f1eb; padding: 0;">
        <div class="collapse navbar-collapse" style="padding-left: 13%;" >
            <ul class="navbar-nav">
                <li class="nav-item ">
                <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Đào tạo đại học
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action database gen</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>         
                </li>
                 <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Đào tạo sau đại học
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>         
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Công tác sinh viên
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>         
               </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Tra cứu văn bằng</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

