/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
/* @import "~bootstrap/scss/bootstrap"; addded in now-ui-dashboard.scss */


button.calendar, button.calendar:active {
    width: 2.75rem;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }
  
  /* Sortable table demo */
  
  th[sortable] {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
  }
  
  th[sortable].desc:before, th[sortable].asc:before {
    content: '';
    display: block;
    background-size: 22px;
    width: 22px;
    height: 22px;
    float: left;
    margin-left: -22px;
  }
  
  th[sortable].desc:before {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  
  /* Complete table demo */
  app-student span.ngb-highlight {
    background-color: yellow;
  }
  