<app-sidebar></app-sidebar>

<div style="padding-left: 260px;">
  <div class="main-header">THONG TIN CA NHAN</div>
  <div class="pl-5">
   <span class="bold">Thong tin sinh vien</span>
   <div class="row">
     <img src="{{student?.avatar}}" width="170px" height="170px" class="img-thumbnail">
     <div class="pl-5" > 
       <ul class="list-group mx-auto" >
         <li class="list-group-item pt-2" style="border:none;">
            <span style="font-weight:bold">MSSV  :</span>
            {{student?.id}}
         </li>
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Họ và tên  :</span>  
            {{student?.name|uppercase}}
         </li>
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Năm vào trường  :</span>
            {{student?.createdYear}}
         </li>
         <!-- <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Chương trình  : </span>
         </li>              -->
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Tình trạng học tập  :</span> 
           {{student?.status}}
         </li>
       </ul>             
     </div>
     <div class="pl-5">
       <ul class="list-group">
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Giới tính  :</span>
         </li>
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Lớp  :</span>{{studentClassName}}
         </li>
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Khoa/Viện quản lý  :</span> {{departmentName}}
         </li>
         <li class="list-group-item pt-2" style="border:none">
           <span style="font-weight:bold">Email  :</span>
            {{student?.email}}
         </li>   
       </ul>
                 
     </div>
   </div>
   <hr>
   <span class="bold">Kết quả học tập</span>
   <div class="row pt-4">
     <div class="pl-5">
       <p><span class="bold">Tổng kết học kỳ : </span>{{resultLeaning?.semester}}</p>
       <p><span class="bold">Trung bình tích lũy :</span>  {{resultLeaning?.cpa}}</p>
       <p><span class="bold">Số TC nợ đăng ký : </span> {{resultLeaning?.tcNoDK}}</p>
     </div>
     <div class="pl-5">
       <p><span class="bold">Số TC tích lũy :</span>{{resultLeaning?.tcdk}}</p>
       <p><span class="bold">Trình độ sinh viên :</span>  {{resultLeaning?.trinhDo}}</p>
       <p><span class="bold">Mức cảnh báo :</span>   Mức {{resultLeaning?.mucCC}}</p>
     </div>
   </div>
   <hr>
  <span class="bold" >Thong Tin Ca Nhan</span>
   <div class="row">
     <div class="pl-5">   
       <p><span class="bold">Ngay sinh :</span> {{student?.birthDay|date}}</p>
       <p><span class="bold"> Email:</span> {{student?.email}}</p>
       <p><span class="bold"> Dia chi :</span>{{student?.address}}</p>
       <p><span class="bold"> Que quan :</span>{{student?.birthplace}}</p>
     </div>
     <div class="pl-5">
       <p><span class="bold">CMND :</span> {{student?.cardId}}</p>
       <p><span class="bold"> Nam vao truong :</span>{{student?.createdYear}}</p>
       <p><span class="bold"> Email:</span>{{student?.email}}</p>
       <!-- <p class="bold">SDT :</p> -->
     </div>
   </div>
  </div>
</div>

 


