
<div class="container-fluid">
    <div class="border-bottom ">
        <img src="./assets/img/Logo-vied.png" width="28%" class="mt-2 mb-2" >
    </div>
    <div class="row">
        <div class="w-20  list-group">
            <span class="list-group-item">Mã sinh viên :{{studentId}}</span>
            <span class="list-group-item">Họ tên SV :{{studentName}}</span>
            <span class="list-group-item">Lớp :{{className}}</span>
            <span class="list-group-item">Chương trình:</span>
            <span class="list-group-item">Học kì: {{semester}}</span>
            <span class="list-group-item">Số tín chỉ tối đa:{{maxRegister}}</span>
            <a routerLink="/student/class-list" class="list-group-item">Thông tin danh sách lớp mở</a>
            <a routerLink="/student" class="list-group-item">Quay lại trang chủ</a>
        </div>
        <div class="w-80">
            <div class="scroll">
               <div class="row col-sm-12">
                    <img src="./assets/img/ltit.png" height="40px" alt="">               
                    <span class="text-header">Trang Sinh Viên Đăng Ký Học</span>
                    <img src="./assets/img/rtit.png" height="40px" alt="">                    
               </div>
               <div class="container-fluid">           
                     <div class="form-group form-inline pt-2">
                        <input class="form-control add" #classId placeholder="Ma Lop" />
                        <button type="button"  class="btn ml-3" (click)="RegisterClassTemp(classId.value)">Đăng ký lớp</button>
                     </div>    
                     <div class="row">
                         <table class="table table-bordered">
                            <thead class="thead-light text-center">
                              <tr>
                                <th>Mã lớp</th>
                                <th>Tên lớp</th>
                                <th>Mã HP</th>
                                <th>Loại lớp</th>
                                <th>Trạng thái ĐK</th>
                                <th>Hình thức ĐK</th>
                                <th>TC</th>
                                <th>
                                    <input type="checkbox" (click)="isAll()" [(ngModel)]="isAllChecked" [ngModelOptions]="{standalone: true}" style="width: 18px;height: 18px;" >
                                </th>
                              </tr>
                             </thead>
                             <tbody class="text-left">
                              <tr *ngFor="let item of listRegisteredClass">
                                <td>{{item.secId}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.courseId}}</td>
                                <td>LT + BT</td>
                                <td>Thành Công</td>
                                <td>Online</td>
                                <td>{{item.credit}}</td>
                                <td class="text-center">
                                  <input type="checkbox" (click)="isCheckedById(item.secId)" style="width: 18px;height: 18px;" >
                                </td>                               
                              </tr>
                            </tbody>                         
                          </table>
                      <div class="tfoot">
                        <div class="pr-5 pb-2" style="border-bottom: 1px solid #dee2e6;">Tổng số TC đăng ký = {{totalCredit}}</div>
                        
                      </div>
                    </div>       
  
                    <div class="text-center">Thời khóa biểu các lớp đăng ký</div>    
  
                    <div class="row">
                        <table class="table table-bordered">
                           <thead class="thead-light text-center">
                             <tr>
                               <th>Thứ</th>
                               <th>Thời gian</th>
                               <th>Phòng học</th>
                               <th>Lớp học</th>
                             </tr>
                            </thead>
                            <tbody class="text-center">
                             <tr *ngFor="let item of listRegisteredClass">
                              <td>{{item.day}}</td>
                              <td>{{item.startHr}}:{{item.startMin}} đến {{item.endHr}}: {{item.endMin}}</td>
                              <td>{{item.building}} - {{item.roomNumber}}</td>
                              <td>{{item.secId}}</td>                          
                             </tr>
                           </tbody>                         
                         </table>
                   </div>   
                   <div class="text-center">
                        <button class="btn" (click)="SendRegister(listRegisteredClass)">Gửi đăng ký</button>
                   </div>  
               </div>    
            </div>
        </div>
    </div>
  </div>
  